ion-content{
    //background-image: url("../assets/img/pianitos.png");
    background-image: url("../assets/img/notas.jpg");
}

page-home {
    .tecla {
        background-color: white;
        height: 19%;
    }

    .button-md:hover:not(.disable-hover) {
        background-color: white;
    }

}

.ToastWarning{
    > div{
      background-color:#FF0015!important;
      text-align: center;
  }
  }